@charset "UTF-8";
//------------------
//base scss
@import "./core/_setting";
@import "./core/_css3";
@import "./core/_mixin";
//define
.photo_figure_layer{line-height: 1.5em;position:relative;@include user-select(none);color: #eee;font-family: sans-serif;font-size: 16px;margin:0;
  //image icon
  .pficon{background: url(../images/photofigure_icon.png) no-repeat;display: block;}
  a{
  background:transparent;
  
  &:active,
  &:hover{
    outline:0;
  }
  
  text-decoration:none;
  @if length($linkColor)>1{
    color:nth($linkColor,1);
    &:hover{
      color:nth($linkColor,2);
    }
  }@else{
    color:$linkColor;
    &:hover{
      color:darken($linkColor,10%);
    }
  }
}
// ul ol dl
ul,ol,li,dl,dd{
  margin: 0;
  padding:0;
}
ul,ol{
  list-style: none outside none;
}
}

.photo_figure_layer{font-size: 16px;outline: none;width: 100%;height: 100%;overflow: hidden;position: fixed;top: 0;left: 0;padding-top: 20px;z-index: 5000;}
.photo_bg_layer{width: 100%;height: 100%;position: absolute;top: 0;left: 0;@include bgcolor-alpha(rgba(0,0,0,0.5));}
.photo_figure_main{background:#fff;width:920px;margin: 0 auto;position: relative;
  .closebtn{display:block;width: 46px;height: 46px;position: absolute;right: -18px;top: -18px;
    em{display: block;background-position: 0 0;width: 100%;height: 100%;border-radius: 100%; }
    &:hover em{box-shadow: 0 0 5px rgba(0,0,0,.5);}
  }
}
.photo_figure_box{background:#fff;box-shadow:0 0 pte(5,16) rgba(0,0,0,.4);padding:pte(20,16) pte(40,16);}
.photo_figure_showwarp{position:relative;width:100%;height:680px; 
  .btn{display: block;width: 41px;height: 67px;@include bgcolor-alpha(rgba(255,255,255,.8));position: absolute;top: 50%;margin-top: -33px;display: none;
    em{display: block;width: 28px;height: 41px;margin:13px 0 0 6px; }
    .arr_l{background-position:-57px 0;}
    .arr_r{background-position:-102px 0;}
  }
  .btn_left{left: 5px;}
  .btn_right{right: 5px;}
  .pfmap{display: block;width: 130px; height: 104px;@include bgcolor-alpha(rgba(0,0,0,.7));position: absolute; bottom: 50px;right:20px; border: 1px solid #7d6c6d;display: none;overflow: hidden;
    .mapImg{@include opacity(70);position: absolute;}
    .viewarea{cursor: move;display: block;border: 3px solid #b9d199;position: absolute;background: url(about:blank);margin: 0;padding: 0;}
  }
}
.photo_figure_zr{position: absolute;width: 100%;height: 43px;@include linear-gradient(rgba(237,237,237,0.6),rgba(237,237,237,0.6));bottom: -1px;left: 0;text-align: right;
  .photo_opbtn{display: inline-block;width: 43px;height: 43px; @include opacity(80);overflow: hidden;position: relative;float: right;
    &:hover{@include opacity(100);}
    em{display: inline-block;width: 24px;height: 24px;position: absolute;top: 10px;left: 10px;}
    .zoomin{background-position: -42px -53px;}
    .zoomout{background-position: -101px -53px;}
    .rotate{background-position: -71px -53px;}
  }
}

.photo_figure_iwarp{height: 100%;position: relative; overflow: hidden;border: 1px solid #ededed;background: #f7f7f7;text-align: center;
  .bigPhotoImg{position: absolute;}
}
.photo_gallary{height: 111px;margin-top: 4px;position: relative;display: none;
  .pf_iw{height: 100%;overflow: hidden;}
  .galllist{height: 100%;width: 300%;}
  .item{float: left;padding-top: 6px;margin-right: 10px;}
  .imgb{display: block;width: 131px;height: 105px;position: relative;background: #dedede;}
  .img_warp{width: 100%;height: 100%;overflow: hidden;position:relative;}
  .imgchose{display: none;
    .pf_arrow{@include triangle(top,5px,#9fc55c); position:absolute; top:-8px;left:50%;margin-left: -2px;}
  }
  .load{display: block;width: 20px;height: 20px;background:#fff url(../images/load.gif) no-repeat center; border-radius: 3px;border:1px solid #cacaca;position: absolute;top: 50%;left: 50%;margin: -10px 0 0 -10px;}
  .item_hover{
    .imgchose{display: block;border:3px solid #9fc55c; position: absolute;top: 0;left: 0;width:127px;height: 99px;}
  }
  .gall_btn{display: block;width: 28px; height: 111px;position: absolute;top: 0;
    .btn{display: block;width: 100%;height: 100%;position: relative;@include opacity(80);
      &:hover{@include opacity(100);}
    }
    em{display: block;width:13px;height: 21px;position: absolute;top: 50%;left: 50%;margin: -12px 0 0 -5px;}
    .l{background-position:0 -53px;}
    .r{background-position:-19px -53px;}
  }
  .gall_btn_l{left: -28px;}
  .gall_btn_r{right: -28px;}

}
